<div class="flex flex-col mt-8 w-[100%] max-w-[90%] m-auto overflow-hidden">
  <div class="-mx-4 -my-2 overflow-x-hidden sm:-mx-6 lg:-mx-8">
    <div class="w-full py-2 align-middle md:px-6 lg:px-8">
      <div class="flex justify-between">
        <div class="mb-4 w-80">
          <input type="search" id="default-search"
            class="block w-full p-2 text-sm text-gray-900 border border-gray-300 rounded-lg ps-4 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Filtrar" [(ngModel)]="filter" />
        </div>
        <div class="mb-4 w-[50%] flex flex-row ">
          <button
          (click)="generarPDFReporte()"
          class="w-full mx-4 px-4 py-2 text-white rounded-md bg-primary hover:bg-primary/90">
            Reporte Entrega
          </button>

          <button
          (click)="generarPDF()"
          class="w-full mx-4 px-4 py-2 text-white rounded-md bg-primary hover:bg-primary/90">
            Generar pdf
          </button>
          <button
          (click)="generarPDFSinAsignar()"
          class="w-full px-4 py-2 text-white rounded-md bg-primary hover:bg-primary/90">
            Manillas Vacias
          </button>
        </div>


        
      </div>

      <div class="w-full max-w-full  border rounded-md border-primary">
        <table class="w-full max-w-full table-fixed">
          <thead class="bg-primary/30">
            <tr>
              <th scope="col" class="px-8 py-3.5 text-sm font-normal text-left rtl:text-right text-foreground">
                <span>#</span>
              </th>
              <th scope="col" class="px-8 py-3.5 text-sm font-normal text-left rtl:text-right text-foreground">
                <span>QR</span>
              </th>
              <th scope="col" style="width: 300px;" class="px-8 py-3.5 text-sm font-normal text-left rtl:text-right text-foreground">
                <span>ORGANIZACION</span>
              </th>
              <th scope="col" class="px-8 py-3.5 text-sm font-normal text-left rtl:text-right text-foreground">
                <span>PERSONA ASIGNADA</span>
              </th>
              <th scope="col" class="px-8 py-3.5 text-sm font-normal text-left rtl:text-right text-foreground">
                <span>LIBERAR</span>
              </th>
              <th scope="col" class="px-8 py-3.5 text-sm font-normal text-left rtl:text-right text-foreground">
                <span>MODIFICAR</span>
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-700 bg-sidebar-color">
            <tr *ngFor="let band of lista  | bands : filter; let i = index">
              <td class="px-8 py-4 text-sm text-foreground whitespace-nowrap">
                {{ i+1 }}
              </td>
              <td class="px-8 py-4 text-sm text-foreground whitespace-nowrap">
                {{ band.codigo_qr }}
              </td>
              <td style="width: 150px;" class=" px-8 py-4 text-sm  text-foreground whitespace-normal">
                {{ band.Persona.organizacion }}
              </td>
              <td class="px-8 py-4 text-sm  text-foreground whitespace-normal">
                {{ band.Persona.nombres }}
              </td>
              <td class="px-8 py-4 text-sm text-foreground whitespace-nowrap">
                <button class="px-4 py-2 text-white rounded-md bg-primary hover:bg-primary/90"
                  (click)="liberarManilla(band.id)">
                  LIBERAR
                </button>
              </td>
              <td class="px-8 py-4 text-sm text-foreground whitespace-nowrap">
                <button class="px-4 py-2 text-white rounded-md bg-primary hover:bg-primary/90"
                  (click)="modificar(band.Persona.id!)">
                  MODIFICAR
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
