<div class="flex flex-col mt-8 w-[80%] m-auto overflow-hidden">
  <div class="-mx-4 -my-2 overflow-x-hidden sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
      <div class="flex justify-between">
        <div class="mb-4 w-80">
          <input type="search" id="default-search"
            class="block w-full p-2 text-sm text-gray-900 border border-gray-300 rounded-lg ps-4 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Filtrar" [(ngModel)]="filter" />
        </div>
        <div class="mb-4 w-60">
          <button
          (click)="generarPDF()"
          class="w-full px-4 py-2 text-white rounded-md bg-primary hover:bg-primary/90">
            Generar pdf
          </button>
        </div>

      </div>

      <div class="overflow-hidden border rounded-md border-primary">
        <table class="min-w-full">
          <thead class="bg-primary/30">
            <tr>
              <th scope="col" class="px-8 py-3.5 text-sm font-normal text-left rtl:text-right text-foreground">
                <span>ID BAND</span>
              </th>
              <th scope="col" class="px-8 py-3.5 text-sm font-normal text-left rtl:text-right text-foreground">
                <span>QR</span>
              </th>
              <th scope="col" class="px-8 py-3.5 text-sm font-normal text-left rtl:text-right text-foreground">
                <span>PERSONA ASIGNADA</span>
              </th>
              <th scope="col" class="px-8 py-3.5 text-sm font-normal text-left rtl:text-right text-foreground">
                <span>LIBERAR</span>
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-700 bg-sidebar-color">
            <tr *ngFor="let band of lista | bands : filter">
              <td class="px-8 py-4 text-sm text-foreground whitespace-nowrap">
                {{ band.id }}
              </td>
              <td class="px-8 py-4 text-sm text-foreground whitespace-nowrap">
                {{ band.codigo_qr }}
              </td>
              <td class="px-8 py-4 text-sm text-foreground whitespace-nowrap">
                {{ band.Persona.nombres }}
              </td>
              <td class="px-8 py-4 text-sm text-foreground whitespace-nowrap">
                <button class="px-4 py-2 text-white rounded-md bg-primary hover:bg-primary/90"
                  (click)="liberarManilla(band.id)">
                  LIBERAR
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
