<div class="w-full h-screen overflow-auto bg-card">

  <app-navbar></app-navbar>

  <div class="p-4 mt-6 overflow-auto grow">

    <!-- main content -->
    <div id="main-content"
      class="overflow-auto scrollbar-thumb-rounded scrollbar-track-rounded grow scrollbar-thin scrollbar-track-transparent scrollbar-thumb-muted">

      <div class="flex flex-wrap items-center justify-center bg-card">
        <ul class="flex -mb-px text-sm font-medium text-center">

          <li class="me-2 ">
            <a (click)="toggleTabs(1)" routerLink="/plan-gratuito"
              class="inline-flex items-center justify-center p-4 font-semibold border-b-2 rounded-t-lg"
              [ngClass]="{
                'text-primary border-b-primary': openTab === 1,
                'text-muted-foreground border-b-muted-foreground': openTab !== 1
              }">
              <svg style="margin-right: 0.5rem;" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                viewBox="0 0 18 18" [attr.class]="openTab === 1 ? 'text-primary' : 'text-muted-foreground'"
                width="16" height="16">
                <path
                  d="M6.143 0H1.857A1.857 1.857 0 0 0 0 1.857v4.286C0 7.169.831 8 1.857 8h4.286A1.857 1.857 0 0 0 8 6.143V1.857A1.857 1.857 0 0 0 6.143 0Zm10 0h-4.286A1.857 1.857 0 0 0 10 1.857v4.286C10 7.169 10.831 8 11.857 8h4.286A1.857 1.857 0 0 0 18 6.143V1.857A1.857 1.857 0 0 0 16.143 0Zm-10 10H1.857A1.857 1.857 0 0 0 0 11.857v4.286C0 17.169.831 18 1.857 18h4.286A1.857 1.857 0 0 0 8 16.143v-4.286A1.857 1.857 0 0 0 6.143 10Zm10 0h-4.286A1.857 1.857 0 0 0 10 11.857v4.286c0 1.026.831 1.857 1.857 1.857h4.286A1.857 1.857 0 0 0 18 16.143v-4.286A1.857 1.857 0 0 0 16.143 10Z" />
              </svg>Plan gratuito
            </a>
          </li>

          <li class="me-2">
            <a (click)="toggleTabs(2)" routerLink="/plan-certificado"
              class="inline-flex items-center justify-center p-4 font-semibold border-b-2 border-transparent rounded-t-lg"
              [ngClass]="{
                'text-primary border-b-primary': openTab === 2,
                'text-muted-foreground border-b-muted-foreground': openTab !== 2
              }">
              <svg
              style="margin-right: 0.5rem;"
                xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18"
                [attr.class]="openTab === 2 ? 'text-primary' : 'text-muted-foreground'" width="16" height="16">
                <path
                  d="M5 11.424V1a1 1 0 1 0-2 0v10.424a3.228 3.228 0 0 0 0 6.152V19a1 1 0 1 0 2 0v-1.424a3.228 3.228 0 0 0 0-6.152ZM19.25 14.5A3.243 3.243 0 0 0 17 11.424V1a1 1 0 0 0-2 0v10.424a3.227 3.227 0 0 0 0 6.152V19a1 1 0 1 0 2 0v-1.424a3.243 3.243 0 0 0 2.25-3.076Zm-6-9A3.243 3.243 0 0 0 11 2.424V1a1 1 0 0 0-2 0v1.424a3.228 3.228 0 0 0 0 6.152V19a1 1 0 1 0 2 0V8.576A3.243 3.243 0 0 0 13.25 5.5Z" />
              </svg>Plan certificado
            </a>
          </li>

          <li class="me-2">
            <a (click)="toggleTabs(3)" routerLink="/plan-taller"
              class="inline-flex items-center justify-center p-4 font-semibold border-b-2 border-transparent rounded-t-lg"
              [ngClass]="{
                'text-primary border-b-primary': openTab === 3,
                'text-muted-foreground border-b-muted-foreground': openTab !== 3
              }">
              <svg
              style="margin-right: 0.5rem;"
                xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20"
                [attr.class]="openTab === 3 ? 'text-primary' : 'text-muted-foreground'" width="16" height="16">
                <path
                  d="M16 1h-3.278A1.992 1.992 0 0 0 11 0H7a1.993 1.993 0 0 0-1.722 1H2a2 2 0 0 0-2 2v15a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2Zm-3 14H5a1 1 0 0 1 0-2h8a1 1 0 0 1 0 2Zm0-4H5a1 1 0 0 1 0-2h8a1 1 0 1 1 0 2Zm0-5H5a1 1 0 0 1 0-2h2V2h4v2h2a1 1 0 1 1 0 2Z" />
              </svg>Plan taller
            </a>
          </li>

        </ul>
        <div class="relative flex flex-col mt-2 mb-6 break-words rounded bg-card" style="width: 90%;">
          <router-outlet></router-outlet>
        </div>
      </div>

    </div>

  </div>

</div>
