<h3 *ngIf="esDia24()" class="mt-4 mb-8 text-2xl font-bold text-center text-foreground">
  Después de ver su presentación, selecciona dos de estos proyectos, los que más te hayan gustado.
</h3>
<h3 *ngIf="esDia25()" class="mt-4 mb-8 text-2xl font-bold text-center text-foreground">
  ¿Te gustaría invertir y convertirte en socio de alguna de estas startups?
</h3>

<ul class="flex flex-col items-center justify-center mb-3 gap-y-2">

  <li class="w-full sm:max-w-full md:max-w-[40%]" *ngFor="let x of startups; let i = index">
    <input type="checkbox" id="empresa-{{x.id}}" value="true" class="hidden peer" (change)="toggleCheckbox(i)"
      [disabled]="!x.voted && selectedCount == 2" />
    <label for="empresa-{{x.id}}"
      class="flex flex-col items-center mt-5 border rounded-lg shadow border-primary/20 bg-background md:w-full md:flex-row md:max-w-full hover:bg-background/80 peer-checked:border-primary">
      <img class="object-cover w-full rounded-t-lg h-52 md:max-h-[10%] md:w-48 md:rounded-none md:rounded-s-lg"
        src="{{ x.foto }}" alt="" />
      <div class="flex flex-col justify-between p-4 leading-normal">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-foreground">
          {{ x.nombre }}
        </h5>
        <h3 class="mb-2 overflow-hidden text-sm font-bold tracking-tight text-justify text-muted-foreground">
          {{ x.descripcion }}
        </h3>

      </div>
    </label>
  </li>

</ul>

<div class="bg-background">
  <div class="flex items-center border rounded mt-9 border-primary-foreground ps-4">
    <input id="bordered-radio-1" type="radio" value="" name="bordered-radio"
      class="w-4 h-4 text-primary border-primary focus:ring-primary focus:ring-2 ring-offset-primary" #radioSi>
    <label for="bordered-radio-1"
      class="w-full py-4 text-sm font-medium text-foreground ms-2 focus:ring-primary ring-offset-primary peer-checked:border-primary peer-checked:bg-primary">Sí</label>
  </div>
  <div class="flex items-center border border-primary-foreground ps-4">
    <input id="bordered-radio-2" type="radio" value="" name="bordered-radio"
      class="w-4 h-4 text-primary border-primary focus:ring-primary focus:ring-2 ring-offset-primary" #radioPodria>
    <label for="bordered-radio-2" class="w-full py-4 text-sm font-medium text-foreground ms-2">Podría ser</label>
  </div>

  <div class="flex items-center border rounded border-primary-foreground ps-4">
    <input id="bordered-radio-3" type="radio" value="" name="bordered-radio"
      class="w-4 h-4 text-primary border-primary focus:ring-primary focus:ring-2 ring-offset-primary" #radioTodavia>
    <label for="bordered-radio-3" class="w-full py-4 text-sm font-medium text-foreground ms-2">Todavía no</label>
  </div>

  <div class="flex items-center border rounded border-primary-foreground ps-4">
    <input id="bordered-radio-4" type="radio" value="" name="bordered-radio"
      class="w-4 h-4 text-primary border-primary focus:ring-primary focus:ring-2 ring-offset-primary" #radioNo>
    <label for="bordered-radio-4" class="w-full py-4 text-sm font-medium text-foreground ms-2">No</label>
  </div>
</div>

<div class="flex items-center justify-center mt-8">
  <button
    class="px-4 py-2 font-bold rounded bg-primary hover:bg-primary/80 text-white w-full max-w-[40%]"
    (click)="mostrarSeleccion()">
    Aceptar
  </button>
</div>


<div class="flex items-center justify-center mt-8">
  <button [disabled]="!selectedEmpresa"
    class="px-4 py-2 font-bold rounded bg-primary hover:bg-primary/80 text-white w-full max-w-[40%]"
    (click)="toggleSlide()">
    Finalizar encuesta
  </button>
</div>
