<form [formGroup]="dataForm" class="max-w-xl mx-auto">

  <div class="mb-5">
    <label for="nombre" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre</label>
    <input type="text" id="nombre" formControlName="nombre"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="Nombre" required
      [ngClass]="[(dataForm.get('nombre')?.invalid  && (dataForm.get('nombre')?.dirty || dataForm.get('nombre')?.touched))? 'bg-red-50 border border-red-500 text-red-900 placeholder-red-700' : 'bg-gray-50 border-gray-300 text-gray-900 placeholder-gray-400' ]" />

    <div *ngIf="dataForm.get('nombre')?.invalid && (dataForm.get('nombre')?.dirty || dataForm.get('nombre')?.touched)"
      class="mt-1 text-sm text-red-500">
      <div *ngIf="dataForm.get('nombre')?.hasError('required')">
        Nombre es requerido.
      </div>
    </div>
  </div>


  <div class="mb-5">
    <label for="residencia" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Lugar de
      Residencia</label>
    <input type="text" id="residencia" formControlName="residencia"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="Lugar" required
      [ngClass]="[(dataForm.get('residencia')?.invalid  && (dataForm.get('residencia')?.dirty || dataForm.get('residencia')?.touched))? 'bg-red-50 border border-red-500 text-red-900 placeholder-red-700' : 'bg-gray-50 border-gray-300 text-gray-900 placeholder-gray-400' ]" />
  </div>

  <div class="mb-5">
    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Correo
      Electrónico</label>
    <input type="email" id="email" formControlName="correo"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="host@domain.com" required
      [ngClass]="[(dataForm.get('correo')?.invalid  && (dataForm.get('correo')?.dirty || dataForm.get('correo')?.touched))? 'bg-red-50 border border-red-500 text-red-900 placeholder-red-700' : 'bg-gray-50 border-gray-300 text-gray-900 placeholder-gray-400' ]" />
  </div>

  <div class="mb-5">
    <label for="organizacion" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Organizacion</label>
    <input type="text" id="organizacion" formControlName="organizacion"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="Organizacion" />
  </div>

  <div class="mb-5">
    <label for="ci" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Documento de
      Identidad</label>
    <input type="text" id="ci" formControlName="ci"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="CI o DNI" required
      [ngClass]="[(dataForm.get('ci')?.invalid  && (dataForm.get('ci')?.dirty || dataForm.get('ci')?.touched))? 'bg-red-50 border border-red-500 text-red-900 placeholder-red-700' : 'bg-gray-50 border-gray-300 text-gray-900 placeholder-gray-400' ]" />
  </div>

  <div class="mb-5">
    <label for="celular" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Numero de
      Celular</label>
    <input type="text" id="celular" formControlName="celular"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="Celular" required
      [ngClass]="[(dataForm.get('celular')?.invalid  && (dataForm.get('celular')?.dirty || dataForm.get('celular')?.touched))? 'bg-red-50 border border-red-500 text-red-900 placeholder-red-700' : 'bg-gray-50 border-gray-300 text-gray-900 placeholder-gray-400' ]" />
  </div>

  <div class="mb-5">
    <label for="celular" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Numero de
      Plan</label>
    <select formControlName="plan" id="plan"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      <option value="gratuito">Gratuito</option>
      <option value="certificado">Certificado</option>
      <option value="taller">Certificado + Taller</option>
    </select>

    <div *ngIf="dataForm.get('plan')?.invalid && (dataForm.get('plan')?.dirty || dataForm.get('plan')?.touched)"
      class="mt-1 text-sm text-red-500">
      <div *ngIf="dataForm.get('plan')?.hasError('required')">
        Celular es requerido.
      </div>
    </div>
  </div>

  <div class="flex w-full">
    <button class="w-full px-4 py-2 text-white rounded-md bg-primary hover:bg-primary/90"
      (click)="save()">
      Modificar </button>
  </div>

</form>
